<head>
  <style>
    /* img {
    border: 5px solid #555;
    } */
    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    #myImg:hover {
      opacity: 0.7;
    }

    /* Style the Image Used to Trigger the Modal */
    .myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .myImg:hover {
      opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9);
      /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
      margin: auto;
      display: block;
      width: auto;
      max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content,
    #caption {
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @keyframes zoom {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
      .modal-content {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <!-- The Modal -->
  <div id="widget-image-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
</body>

<script>
  const Widgets_ImageModal = {
    // create references to the modal...
    modal: document.getElementById('widget-image-modal'),
    // to all images -- note I'm using a class!
    images: document.getElementsByClassName('widget-image-open-modal'),
    // the image in the modal
    modalImg: document.getElementById("img01"),
    // and the caption in the modal
    captionText: document.getElementById("caption"),
    // close button
    closeButton: document.getElementsByClassName("close")[0],

    onImgError(source) {
      source.src = "/images/not_found_placeholder.png";
      // console.log(source)
      // disable onerror to prevent endless loop
      source.onerror = "";
      return true;
    },

    openModal(targetElement) {
      Widgets_ImageModal.modal.style.display = "block";
      Widgets_ImageModal.modalImg.src = targetElement.src;
      Widgets_ImageModal.captionText.innerHTML = targetElement.alt;
    },

    openBookmarklet(hash) {
      if (hash) {
        // Perform actions based on the hash
        // For example, highlight the targeted section
        const targetElementId = hash.replace("#", "");
        const myImg = 'myImg' + targetElementId
        const targetElement = document.getElementById(myImg);
        if (targetElement) Widgets_ImageModal.openModal(targetElement)
      }
    },

    attachEvents() {
      // Go through all of the images with our custom class
      for (var i = 0; i < Widgets_ImageModal.images.length; i++) {
        var img = Widgets_ImageModal.images[i];
        // and attach our click listener for this image.
        img.onclick = function(evt) {
          Widgets_ImageModal.openModal(this)
        }
      }
    }
  }

  Widgets_ImageModal.closeButton.onclick = function() {
    Widgets_ImageModal.modal.style.display = "none";
  }

  window.addEventListener('DOMContentLoaded', function() {
    Widgets_ImageModal.attachEvents()
    // bookmarklet
    Widgets_ImageModal.openBookmarklet(window.location.hash)
  });
</script>