<input type="checkbox" id="myCheckbox" name="option1" value="yes">
<label for="myCheckbox">AutoScroll</label>
<script>
  widgets.autoscroll = {
    myCheckbox: document.getElementById('myCheckbox'),
    currentPage: parseInt('<%=currentPage%>'), // ejs
    limit: parseInt('<%=limit%>'),// ejs
    isLoading: false,
    hasMoreData: true, // Set based on server response
    windowEvent() {
      window.addEventListener('scroll', () => {
        // const maxScrollY = document.documentElement.scrollHeight - window.innerHeight;
        // if (window.scrollY >= maxScrollY) {
        //     // User is at the bottom or attempting to overscroll downwards
        //     console.log("Reached bottom or overscrolling downwards!");
        // } else if (window.scrollY <= 0) {
        //     // User is at the top or attempting to overscroll upwards
        //     // console.log("Reached top or overscrolling upwards!");
        // }
        // Check if the checkbox is checked
        if (!myCheckbox.checked)  return
        const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
        if (scrollTop + clientHeight >= scrollHeight - 0 && !widgets.autoscroll.isLoading && widgets.autoscroll.hasMoreData) {
          widgets.autoscroll.isLoading = true;
          widgets.autoscroll.currentPage++;
          // console.log('end page', currentPage);
          // isLoading = false
          widgets.autoscroll.loadMoreItems();
        }
      });
    },
    async loadMoreItems() {
      try {
        const response = await fetch(`/api/v1/posts?page=${widgets.autoscroll.currentPage}&limit=${widgets.autoscroll.limit}`);
        // const response = await fetch(`/api/v1/posts?page=1&limit=1`);
        const apiResponse = await response.json();
        if (response.status != 200) {
          console.log('error:', apiResponse);
          widgets.autoscroll.hasMoreData = false;
          return;
        }
        // Append new items to the container
        const itemContainer = document.getElementById('rss-feed-container');
        apiResponse.data.forEach((item) => {
          console.log(item);
          const itemDiv = document.createElement('div');
          itemDiv.classList.add('feed-item');
          itemDiv.textContent = item.title;
          itemContainer.appendChild(itemDiv);
        });
        widgets.autoscroll.isLoading = false;
      } catch (error) {
        console.error('Error loading more items:', error);
        widgets.autoscroll.isLoading = false;
        widgets.autoscroll.hasMoreData = false;
      }
    },
  };

  widgets.autoscroll.windowEvent();
</script>
