<!-- Search labels -->
<div class="labels">
  <% common.navbar.getSortedLabels().forEach(label => { %>
  <!-- <a href="/search/label/<%=//encodeURIComponent(label.name)%>"> -->
  <a href="<%=common.links.searchLabel(encodeURIComponent(label.name))%>"><%=label.name%></a><sup><%=label.count%></sup>
  <% }); %>
  <br />
</div>