<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <head>
    <title>Page Not Found</title>
  </head>
  <%- include('partials/header') -%>

  <body>
    <!-- Navigation bar -->
    <%- include('partials/navbar') -%>
    <!-- Body -->
    <h1>Page Not Found</h1>
    <div id="rss-feed-container">
      <!-- RSS feed items will be dynamically inserted here -->
    </div>
    <div class="feed-item">Page not found</div>
    <!-- Pagination -->
    <!-- <%- //include('widgets/pagination') -%> -->
    <!-- Footer -->
    <%- include('partials/footer') -%>
  </body>
</html>
