<!DOCTYPE html>
<html lang="en">
<!-- Header -->

<head>
  <title>Dashboard</title>
</head>
<%- include('partials/header') -%>

<body>
  <!-- Navigation bar -->
  <%- include('partials/navbar') -%>
  <!-- Body -->
  <h1>Dashboard</h1>
  <div id="rss-feed-container">
    <!-- RSS feed items will be dynamically inserted here -->
  </div>
  <div class="feed-item">
    <h2>Total Posts: 1</h2>
    <h3>Total Posts</h3>
    <h4>Total Posts</h4>
    <h5>Total Posts</h5>
    <h6>Total Posts</h6>
  </div>
  
  <!-- Pagination -->
  <!-- <%- //include('widgets/pagination') -%> -->
  <!-- Footer -->
  <%- include('partials/footer') -%>
</body>

</html>