<%- include('partials/header', {title: 'Login'}) -%>
<!-- Body -->
<h1>Login</h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>

<div class="feed-item">
  <% if (errorMessage) { %>
  <p style="color: red;"><%= errorMessage %></p>
  <% } %>

  <form action="/login" method="POST">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember">Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button" class="cancelbtn">Cancel</button> -->
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<!-- Pagination -->
<!-- <%- //include('widgets/pagination') -%> -->
<!-- Footer -->
<%- include('partials/footer') -%>