<%- include('partials/header', {title: 'Rate Limit Error'}) -%>
<!-- Body -->
<h1>Rate Limit Error</h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>
<div class="feed-item"></div>
<!-- Footer -->
<%- include('partials/footer') -%>
