<!DOCTYPE html>
<html>

<head>
  <title>Image Upload/Inbox/Send a Message</title>
</head>

<body>
  <h1>Upload an Image</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">Upload</button>
  </form>
  <form action="/upload-multiple" method="POST" enctype="multipart/form-data">
    <input type="file" name="myFiles" multiple>
    <button type="submit">Upload Files</button>
  </form>
  <textarea>Send a message</textarea>
  <% if(message){%>
  <%=message %>
  <img src='<%=imageUrl%>'>
  <% } %>
</body>

</html>