<style>
  :root {
    --devsite-background-3: #f1f3f4; /* grey */
  }
  .columns code,
  .columns pre {
    color: #202124;
    background: var(--devsite-background-3);
  }
  body {
    background: yellow;
  }
</style>
<table class='columns'>
  <tbody>
    <tr>
      <td><code>ANIMALS</code></td>
      <td><code>FASHION</code></td>
      <td><code>LANDMARKS</code></td>
      <td><code>RECEIPTS</code></td>
      <td><code>WEDDINGS</code></td>
    </tr>
    <tr>
      <td><code>ARTS</code></td>
      <td><code>FLOWERS</code></td>
      <td><code>LANDSCAPES</code></td>
      <td><code>SCREENSHOTS</code></td>
      <td><code>WHITEBOARDS</code></td>
    </tr>
    <tr>
      <td><code>BIRTHDAYS</code></td>
      <td><code>FOOD</code></td>
      <td><code>NIGHT</code></td>
      <td><code>SELFIES</code></td>
    </tr>
    <tr>
      <td><code>CITYSCAPES</code></td>
      <td><code>GARDENS</code></td>
      <td><code>PEOPLE</code></td>
      <td><code>SPORT</code></td>
    </tr>
    <tr>
      <td><code>CRAFTS</code></td>
      <td><code>HOLIDAYS</code></td>
      <td><code>PERFORMANCES</code></td>
      <td><code>TRAVEL</code></td>
    </tr>
    <tr>
      <td><code>DOCUMENTS</code></td>
      <td><code>HOUSES</code></td>
      <td><code>PETS</code></td>
      <td><code>UTILITY</code></td>
    </tr>
  </tbody>
</table>
