<!-- Nav links -->
<%const links = {
    "/" : "Home",
    "/index" : "Index",
    "/login" : "Login",
    "/dashboard" : "Dashboard",
    "/gallery" : "Gallery"
}%>
<%for (const [route, label] of Object.entries(links)) {%>
<a href="<%=route%>"><%=label%></a>
<%}%>

</body>
<!-- Widgets -->
<%- //include('widgets/image-modal') -%>
</html>