<!-- Nav links -->
<%for (const [route, label] of Object.entries(common.links.footerLinks)) {%>
<a href="<%=route%>"><%=label%></a>
<%}%>
</body>
<!-- Widgets -->
<%- //include('widgets/image-modal') -%>
</html>