<%- include('partials/header', {title: 'Title'}) -%>
<!-- Body -->
<h1>Title</h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>
<div class="feed-item">
</div>
<!-- Pagination -->
<!-- <%- //include('widgets/pagination') -%> -->
<!-- Footer -->
<%- include('partials/footer') -%>