<%- include('partials/header', {title: 'Title'}) -%>
<!-- Body -->
<h1>Title</h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>
<div class="feed-item">
  <a href="">
    <h2>Title</h2>
  </a>
  <p>This is a summary of the first example article.</p>
  <p>Published:</p>
</div>
<!-- Pagination -->
<!-- <%- //include('widgets/pagination') -%> -->
<!-- Footer -->
<%- include('partials/footer') -%>