<textarea id="simp-editor" placeholder="Enter text..."></textarea>
<button id="simp-preview-button">Preview</button>
<h3>Preview</h1>
<div id="simp-preview"></div>
<script>
const SimpEditor = {}

let simpeditor = document.getElementById('simp-editor')
let preview = document.getElementById('simp-preview')
let previewButton = document.getElementById('simp-preview-button')

previewButton.onclick = () => {
    preview.innerHTML = simpeditor.value
}
</script>