<style>
  #simp-editor {
    background-color: aqua;
    field-sizing: content;
    height: 50vh;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.4/beautify-html.min.js"></script>

<textarea id="simp-editor" placeholder="Enter text..."></textarea>
<button id="simp-preview-button">Preview</button>

<h3>Preview</h1>
<div id="simp-preview"></div>
<script>
  const SimpEditor = {
    editor: document.getElementById('simp-editor'),
    preview: document.getElementById('simp-preview'),
    previewButton: document.getElementById('simp-preview-button')
  }

  SimpEditor.editor.innerHTML = html_beautify(unescapeHTMLWithDOM('<%=content%>'))

  SimpEditor.previewButton.onclick = () => SimpEditor.preview.innerHTML = SimpEditor.editor.value
</script>